@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
body {
    font-family: 'Roboto Slab' , serif;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

h1 {
    text-align: center;
    font-family: 'Roboto Slab' , serif;
    font-weight: 500;
    font-size: 2.5625rem;
    grid-column: 1/4
}


p {
    font-weight: 300;
    font-size: 1.25rem;
    grid-column: 2 / 3;
}

