@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #232425;
    font-family: 'Source Code Pro' , monospace;
    width: 600px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}


.content {

}

h1 {
    font-family: 'Roboto Slab' , serif;
    font-weight: 500;
    font-size: 2.5625rem;
    line-height: 2.8125rem;
    color: #a3bd8d;
}

h2 {
    color: rgba(163, 189, 141, 0.7);
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: white;
}

a {
    color: #eacb8b;
    text-decoration: none;
}
a:visited {
    color: #eacb8b;
}
span[class^='section-number']{
    display:none;
}

.video-responsive {
	  height: 0;
	  overflow: hidden;
	  padding-bottom: 56.25%;
	  padding-top: 30px;
	  position: relative;
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	  height: 100%;
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 100%;
}

#postamble {
    padding-top: 3rem;
}
#postamble p{
    line-height: 0.9rem;
}

.src-org {
    background-color: #232425;
}

.example {
    background-color: #232425;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

    body {
        width: calc(100% - 40px);
    }
    h1 {

    }

    p {
        font-size: 1.125rem;
        line-height: 1.5625rem;
        width: calc(100% - 40px);
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
