.main-module__CUtPTq__main{padding:1rem}.main-module__CUtPTq__main section{justify-content:center;display:flex}
.login-module__r9bFSG__button{background-color:var(--amarillo);border-radius:60px;padding:10px 50px;font-size:1.5rem}
.profile-module__rFBM0W__profile img{object-fit:cover;border-radius:50%;width:100px;max-height:100px}
